/* Google Fonts Link */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

:root {
    --primary-font: 'Darker Grotesque', sans-serif;
    --secondary-font: 'Darker Grotesque', sans-serif;
    --primary-color: #c8e3b1;
    --secondary-color: #4F5D2F;
    --third-color: #AAC0AA;
    --fourth-color: #574B60;
    --fifth-color: #CEA2AC;
}

body {
    font-family: var(--primary-font);
    background-color: #cea2ac25;
    color: var(--secondary-color);
    margin: 0;
    height: 100%;
    ;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 3rem;
    margin-bottom: 1.5rem;
}

h5 {
    font-size: 2.2rem;
    text-align: center;

}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}


/* Navbar Styling */
.navbar {
    background-color: var(--primary-color);
    opacity: 0.7;
}

.navbar-brand {
    font-size: 2.4rem;
    padding-bottom: 15px;
}

.nav-item {
    font-size: 1.5rem;
}

.fa-solid {
    font-size: 2rem;
    padding: 8px;
}

/* Hero styling */
#hero {
    /* background: url(/assets/images/tai_chi_hero_image.png); */
    background: url(/solving-stress/assets/images/TaiChi.png);
    background-size: cover;
    height: 700px;
    margin-top: -150px;
}

#hero h2 {
    display: none;
}

section {
    padding: 10px;

}

#signs h2 {
    font-size: 50px;
}


#practical-tips {
    background-color: #574B60;
    height: auto;
    color: #c8e3b1;
    font-size: 3rem;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: var(--fourth-color);
}

.slide p {
    margin: 10px 0;
    font-size: 1.8rem;
}



.large-card p {
    font-size: 1.2rem;
}




.testimonial-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial-slider {
    display: flex;
    transition: margin-left 1s ease-in-out;
}

.testimonial {
    flex: 0 0 100%;
    padding: 20px;
    text-align: center;
}

#managing-stress img {
    width: auto;
    height: 25%;
}



/* Managing Stress Info Section Styling */
#managing-stress {
    height: auto;
}

#managing-stress img {
    width: 200px;
    height: 250px;
    border-radius: 20%;
}

#resources iframe {
    margin: 20px;
}

#resources p {
    font-size: 1.5rem;
}

footer {
    background-color: var(--third-color);
    margin-top: auto;
}

/* Footer Styling */

.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-size: 1.4rem;
    color: #4F5D2F;
}

.contact>* {
    margin: 0 1px;
}


.social-links {
    text-align: right;

}

#contact p {
    border: solid 1px #4F5D2F;
}

footer .social-links a {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    color: #4F5D2F;
    font-size: 1.6rem;
}

#contact p {
    border: solid 1px #4F5D2F;
}

footer .social-links a {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    color: #4F5D2F;
    font-size: 1.6rem;
}

.fa-solid {
    font-size: 1.2rem;
    padding: 8px;
    margin: 0px;
}

#contact strong {
    margin: 0px;
}

footer h2 {
    margin: 2px;
}


/* Media Queries */

/* Medium devices (tablets 768px and up) */
@media screen and (min-width: 768px) {

    /* Make all cards the same height for consistency */
    .card-body {
        min-height: 500px;
    }

    .card-img-top {
        height: 250px;
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #managing-stress img {
        width: 400px;
        height: 500px;
        text-align: right;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 50px
        width: 90%;
        text-align: center;
    }

    .iframe-container { flex: 1 1 47%;
       
                margin: 10px; 
                position: relative; 
                padding-bottom: 56.25%;
                height: 0; 
                overflow: hidden;
           } 
                
                .responsive-iframe { 
                    position: absolute; 
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 300px; 
                    border: 0;

}





/* Medium devices (tablets 576px and up)
         @media screen and (min-width: 576px) {
            /* Make all cards the same height for consistency 
            .card-body {
                min-height: 500px;
            }
            .card-img-top {
                height: 250px;
                width: 80%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
    
            #managing-stress img {
                width: 400px;
                height: 500px;
                text-align: right;
              }
        }  */

@media screen and (max-width: 425px) {

    #hero {
        background-size: cover;
        height: 300px;
        margin-top: 0;
    }
}