/* Google Fonts Link */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

:root {
    --primary-font: 'Darker Grotesque', sans-serif;
    --secondary-font: 'Darker Grotesque', sans-serif;
    --primary-color: #C8E3B1;
    --secondary-color: #4F5D2F;
    --third-color: #AAC0AA;
    --fourth-color: #574B60;
    --fifth-color: #CEA2AC;
}

body {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--fourth-color);
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* Hero styling */
#hero {
    background: url(/assets/images/TaiChi.png);
    background-size: cover;
    height: 500px;
    padding-bottom: 50%;
}