/* Google Fonts Link */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

:root {
    --primary-font: 'Darker Grotesque', sans-serif;
    --secondary-font: 'Darker Grotesque', sans-serif;
    --primary-color: #c8e3b1;
    --secondary-color: #4F5D2F;
    --third-color: #AAC0AA;
    --fourth-color: #574B60;
    --fifth-color: #CEA2AC;
}

body {
    font-family: var(--primary-font);
    background-color: #cea2ac25;
    color: var(--secondary-color);
    margin: 0;
;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
    margin-bottom: 3rem;
}

h5 {
    font-size: 2.2rem;
    text-align: center;
 
}
p {
    font-size: 1.2rem;
    line-height: 1.5;
}


/* Navbar Styling */
.navbar {
    background-color: var(--primary-color);
    opacity: 0.7;
}

.navbar-brand {
    font-size: 2.4rem;
    padding-bottom: 15px;
}

.nav-item{
    font-size: 1.5rem;
}

.fa-solid {
    padding: 15px;
    font-size: 2rem;
}

/* Hero styling */
#hero {
    background: url(/assets/images/TaiChi.png);
    background-size: cover;
    height: 700px;
    margin-top: -150px;
}

section {
    padding: 20px;
    
}

#signs h2 {
    font-size: 50px;
}


#practical-tips {
background-color: #574B60;
height: auto;
color:#c8e3b1;
font-size: 3rem;
}

.slider { width: 100%; overflow: hidden; position: relative; } 

.slides { display: flex; transition: transform 0.5s ease-in-out; } 

.slide { min-width: 100%; box-sizing: border-box; padding: 20px; text-align: center; 
    background-color: var(--fourth-color); } 

.slide p { margin: 10px 0;
font-size: 1.8rem; }

footer {
    background-color: var(--third-color);
    height: 110px;
}

.large-card p {
    font-size: 1.5rem;
}



 /* Media Queries */

    /* Medium devices (tablets 768px and up) */
    @media screen and (min-width: 768px) {
        /* Make all cards the same height for consistency */
        .card-body {
            min-height: 650px;
        }

        .card-img-top {
            height: 350px;
        }

    }

    .testimonial-container {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
      }
      
      .testimonial-slider {
        display: flex;
        transition: margin-left 1s ease-in-out;
      }
      
      .testimonial {
        flex: 0 0 100%;
        padding: 20px;
        text-align: center;
      }

      #managing-stress img {
        width: auto;
        height: 500px;
      }

      .right {
        position: absolute;
        right: 0;
        width: 50%; 
      }

    